.contest-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-component{
    flex:1;
    padding: 8px;
    width:100%;
}

.stats-heading{
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}

.stats-sub-heading{
    font-size:medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 8px;
}



@media screen and (max-width: 800px){
    .contest-stats{
        flex-direction: column;
    }
}