/* Dashboard CSS */

.dashboard {
    position: relative;
    padding-top: 64px;
    font-family: serif;
    display: flex;
    flex-direction: row;
    /* margin: 2px; */
    z-index: 10;
}


.summary_area {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.dashboard_title_div {
    font-size: larger;
    font-weight: bolder;
    margin: 4px 0;
    padding-left: 4px;
}

.dashboard_left_top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 8px;
}

.dashboard_profile_info {
    display: grid;
    background-color: rgb(37 39 42);
    border-radius: 8px;
    margin-right: 8px;
    justify-items: center;
}


.dashboard-profile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.dashboard_graph_div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column: span 2 / span 2;
    background-color: rgb(37 39 42);
    border-radius: 8px;
}

.dashboard_graph {
    display: grid;
    gap: 5px;
    width: 60%;
    margin: auto;
    text-align: center;
    justify-items: center;
}

.dashboard_submission_row,
.dashboard_submission_title {
    background-color: rgb(37 39 42);
    margin: 6px;
    padding: 4px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.dashboard_submission_row:hover {
    color: rgb(21 128 61);
    cursor: pointer;
}

.dashboard_submission_title {
    margin-top: 5px;
    color: rgb(255, 255, 255);
    border-radius: 0.25rem;
}

.dashboard_trendline {
    min-height: 51vh;
    background-color: rgb(37 39 42);
    border-radius: 0.5rem;
}

.dashboard_submission_heading {
    font-size: 15px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.dashboard_submission_heading svg {
    margin: auto;
}

.submission-details-dashboard{
    min-height: 80vh;
    border-radius: 8px;
    background-color: rgb(37 39 42);
  }
  



@media screen and (max-width: 1000px) {
    .dashboard {
        font-family: serif;
        display: flex;
        flex-direction: column;
        margin: 2px;
    }

    .summary_area {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .summary_area {
        width: 100%;
    }

    .dashboard_left_top {
        display: grid;
        grid-template-rows: 1fr 2fr;
        margin-bottom: 8px;
        width:100%;
        padding: 8px;
    }

    .dashboard_profile_info {
        display: grid;
        grid-row-start: 1;
        background-color: rgb(37 39 42);
        border-radius: 8px;
        justify-items: center;
        width: 92vw;
        display: flex;
        justify-content: space-around;
    }

    .dashboard_profile_info img {
        height: 80%;
        margin: auto 0;
    }

    .dashboard_graph_div {
        display: grid;
        grid-row-start: 2;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        background-color: rgb(37 39 42);
        border-radius: 8px;
        margin-top: 8px;
        width: 92vw;
        height:fit-content;
    }

    .dashboard_submission_row,
    .dashboard_submission_title {
        font-size: 9px;
    }

    .dashboard_trendline {
        width: 92vw;
    }
}