.EditorSkeleton-container{
    height:100%;
    width:100%;
    border-radius: 6px;
    margin:4px;
}

.EditorSkeleton-header{
    margin:4px;
    min-height: 30px;
}

.EditorSkeleton-body{
    margin:4px;
    min-height: 75px;
}

@media screen and (max-width:1000px) {
    .EditorSkeleton-container{
        width:100%;
    }
}

