@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL CSS */

.content-area-top{
  position: relative;
  padding-top: 64px;
  overflow: hidden !important;
}

.loading{
  cursor:not-allowed !important;
}


/* Chart JS Custom */
#chartjs-tooltip{
  background-color: black !important;
  color: white;
  font-size: small;
  font-family:'Times New Roman', Times, serif;
}

#chartjs-tootlip table {
  border: none;
  border-collapse: collapse;
} 
