/* Home Page */
.home-page {
    display: grid;
    width: 100%;
    place-items: center;
    background-size: cover;
    background-position: center;
    background-color: inherit;
}

.home-page-content-general {
    z-index: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.home-page-animation{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.home-page-animation-container {
    display: flex;
    flex-wrap: wrap;
}

.home-page-animation-column {
    flex:1;
    padding: 10px;
    box-sizing: border-box;
    min-width: 280px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media (max-width: 768px) {
    .home-page-animation-column {
        flex-basis: 100%;
    }
}



@media screen and (max-width : 850px) {

    .home-page-content-general div p {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .home-page-content-general div h1 {
        font-size: 30px;
        line-height: 0.5;
        font-weight: 700;

    }

    .home-page-content-general div p {
        font-size: 12;
    }
}

@media screen and (max-width : 600px) {
    .home-page-content-general {
        flex-direction: column;
    }
}