  .skeleton-table-data {
      position: relative;

      .skeleton-table-item {
          left: 5px;
          background-color: #a09d9d;
          height: 24px;
          animation: loadingAnimation 1.5s infinite;
          border-radius: 7px;
      }
  }

  @keyframes loadingAnimation {

      0% {
          background-color: #918888;
      }

      25% {
          background-color: #9a9999;
      }

      50% {
          background-color: #7f7f7f;
      }

      75% {
          background-color: #6d6c6c;
      }

      100% {
          background-color: #4a4949;
      }
  }

  .check-circle-skeleton {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #999292;
  }




  .skeleton-button {
      height: 48px;
      width: 56px;
      background-color: #c7bebe;
      margin-left: 4px;
      margin-right: 4px;
      border-radius: 4px;
      animation: loadingAnimation 1.5s infinite;
  }