/* Question Area Skeleton */


@keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
  
  .animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #2872bc;
    background: linear-gradient(to right, #000000 8%, #353434 18%, #373737 33%);
    background-size: 800px 104px;
  }
  