/* .TableDiv{
    position: relative;
    top: 65px;
    margin : 25px;
    overflow-x: auto;
    padding:1px;
} */

tr{
    border: solid #ffffff 1px;
  }
.data-heading{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.problem_preview_area{
    /* float: right; */
    height: 65vh;
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding : 8px 20px 8px 20px;
  }
  
  .problem-preview-heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 4px auto 8px auto;
  }
  
  .problem-metadata-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px 4px 4px 4px;
  }
  
  .problem-preview-heading h1{
    font-size: 20px;
  }
  
  .problem-preview-content{
    display: flex;
    flex-direction: column;
  }
  
  #problem-preview-data{
    margin: 4px 4px 4px 4px;
    padding-left: 8px;
  }
  #problem-preview-data button{
    border-radius: 8px;
  }
  ol,li{
    list-style-position :inside;
  }
  
  #problem-preview-data h1{
    font-size: 20px;
    line-height: 28px;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    margin:8px 8px 8px auto;
  }
  
  .problem-test-case-preview-area{
    background-color: rgb(51 65 85);
    margin-bottom: 16px;
    height: auto;
    width: 100%;
    overflow-x: scroll;
  }
  
  .problem-test-case-preview-area span{
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 700;
    color: rgb(101 163 13);
    margin:2px;
  }
  
  .problem-test-case-preview-area p{
    margin:2px;
    white-space: pre; 
  }